html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container1 {
    margin: 3px;
    background-color: gray;
    font-size: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 2fr;
    grid-template-rows: 100px;
    grid-column-gap: 20px;}

    
    .header{
        display: grid;
        grid-row-gap: 3px;
    }
   


    .navbar-item{
        background-color: yellow;
        display: grid;
        grid-template-rows: 150px;
        justify-items: center;
        align-items: center;
        
    }
    .nav{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .search{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px;

    
    }
   